.feedbacklisting {
    float: left;
    width: 100%;
}
.totalvotecount {
    background-color: #FCFDFF;
    border: 1px solid #CFD7E6;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    color: #8F9BB3;
    float: left;
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 3px;
    padding: 12px 0 9px;
    text-align: center;
    width: 10%;
    margin-right: 10px;
}
.totalvotecount strong{
    color: #292C33;
    display: block;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}
.feedback-listing{
    width: 100%;
    

}
.feedback-title {
    font-size: 18px;
    font-weight: bold;
    line-height: 1em;
    margin-bottom: 10px;
}
.feedback-description{
    font-size: 13px;
    margin-bottom: 10px;
    margin-left: 11%;
}
.feedback-votes-details {
    border-bottom: 1px solid #ccc;
    float: left;
    padding-left: 10%;
    width: 100%;
    margin-bottom: 10px;
}
.feedback-created {
    float: left;
    padding-left: 10px;
    width: 20%;
}
.give-votes {
    display: inline;
    float: right;
    width: 80%;
    margin-bottom: 10px;
}
.feedback-form {
    border: 1px solid #CCCCCC;
    float: left;
    margin-left: 10px;
    padding-top: 0;
}
.form-title {
    background: none repeat scroll 0 0 #AFE1F8;
    padding-left: 10px;
}
.form-title > h3 {
    margin: 0;
}
.feedback-form-container {
    margin-left: 10px;
    margin-right: 10px;    
}

.form-group > input {
    width: 100%;
}

.form-group > label {
    width: 100%;
}
.form-group > label {
    width: 100%;
}

.form-group > textarea {
    width: 100%;
}
