
<div class="col-sm-4">  
    <section class="panel panel-default">
        
        <div class="panel-body">
            <form role="form" action="{{ path('oxind_feedback_create') }}" method="POST">
                <header class="panel-heading font-bold"> </header>
                <div class="form-group">
                    <label>Title</label>
                    {{ form_widget(form.title) }}
                    
                </div>

                <div class="form-group">
                    <label>Description</label>
                    {{ form_widget(form.content) }}                    
                   {{ form_rest(form) }}
                </div>

                <button type="submit" class="btn btn-sm btn-default">Post</button>
            </form>
        </div>
    </section>
</div>