<form action="{{ path('oxind_feedback_search') }}" name="search" method="POST">
    <input type="text" name="q" id="query">
    <input type="button" name="search" value="Search" onclick="loadSearchlist( {{ feedbacktype_id }} ,'{{ url('oxind_feedback_search') }}' );">
</form>