<input type="text" name="q" >
<input type="submit" name="search" value="Search" >

<div id="search_list">
    
</div>
<script>
function loadSearchlist()
{
var xmlhttp;
if (window.XMLHttpRequest)
  {// code for IE7+, Firefox, Chrome, Opera, Safari
  xmlhttp=new XMLHttpRequest();
  }
else
  {// code for IE6, IE5
  xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
  }
xmlhttp.onreadystatechange=function()
  {
  if (xmlhttp.readyState==4 && xmlhttp.status==200)
    {
    document.getElementById("search_list").innerHTML=xmlhttp.responseText;
    }
  }
xmlhttp.open("GET","{{ path('oxind_feedback_search') }}",true);
var query =  document.getElementsByName('q')[0].value;

xmlhttp.send(query);
 
}
</script>
